<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MindSharperner"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/activity_main" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MindSharperner">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <RelativeLayout
            xmlns:android="http://schemas.android.com/apk/res/android"
            xmlns:app="http://schemas.android.com/apk/res-auto"
            xmlns:tools="http://schemas.android.com/tools"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            tools:context=".MainActivity">

            <TextView
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="Select your Subject ?"
                android:textStyle="bold"
                android:layout_marginLeft="10dp"
                android:textSize="20sp"/>

            <!-- add RadioGroup which contain the many RadioButton-->
            <RadioGroup
                android:layout_marginTop="50dp"
                android:id="@+id/groupradio"
                android:layout_marginLeft="10dp"
                android:layout_width="fill_parent"
                android:layout_height="wrap_content">

                <!-- In RadioGroup create the 1 Radio Button-->
                <!-- like this we will add some more Radio Button-->
                <RadioButton
                    android:layout_width="fill_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/radia_id1"
                    android:text="DBMS"
                    android:textSize="20sp"/>

                <RadioButton
                    android:layout_width="fill_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/radia_id2"
                    android:text="C/C++ Programming"
                    android:textSize="20sp"/>

                <RadioButton
                    android:layout_width="fill_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/radia_id3"
                    android:text="Data Structure"
                    android:textSize="20sp"/>

                <RadioButton
                    android:layout_width="fill_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/radia_id4"
                    android:text="Algorithms"
                    android:textSize="20sp"/>
            </RadioGroup>

            <!-- add button For Submit the Selected item-->
            <Button
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="Submit"
                android:id="@+id/submit"
                android:textStyle="bold"
                android:textSize="20sp"
                android:layout_marginTop="200dp"
                android:layout_marginLeft="180dp"
                />

            <!-- add clear button for clear the selected item-->
            <Button
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="Clear"
                android:id="@+id/clear"
                android:textSize="20sp"
                android:textStyle="bold"
                android:layout_marginTop="200dp"
                android:layout_marginLeft="20dp"
                />

        </RelativeLayout>
    </application>

</manifest>